@font-face {
  font-family: 'BebasNeueBold';
  src: url('fonts/bold/BebasNeueBold.eot');
  src: url('fonts/bold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/bold/BebasNeueBold.woff2') format('woff2'),
  url('fonts/bold/BebasNeueBold.woff') format('woff'),
  url('fonts/bold/BebasNeueBold.ttf') format('truetype'),
  //url('fonts/bold/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

/*@font-face {
  font-family: 'IntroHeadRBase';
  src: url('fonts/intoro/IntroHeadRBase.eot');
  src: url('fonts/intoro/IntroHeadRBase.eot') format('embedded-opentype'),
  url('fonts/intoro/IntroHeadRBase.woff2') format('woff2'),
  url('fonts/intoro/IntroHeadRBase.woff') format('woff'),
  url('fonts/intoro/IntroHeadRBase.ttf') format('truetype'),
  //url('fonts/intoro/IntroHeadRBase.svg#IntroHeadRBase') format('svg');
}*/

@font-face {
  font-family: 'PFDinTextCompProRegular';
  src: url('fonts/CompPro-Regular/PFDinTextCompProRegular.eot');
  src:  url('fonts/CompPro-Regular/PFDinTextCompProRegular.woff2') format('woff2'),
  url('fonts/CompPro-Regular/PFDinTextCompProRegular.woff') format('woff'),
  url('fonts/CompPro-Regular/PFDinTextCompProRegular.ttf') format('truetype'),
 url('fonts/CompPro-Regular/PFDinTextCompProRegular.svg#PFDinTextCompProRegular') format('svg');
}


/*@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
  src: url("fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix") format("embedded-opentype"),
  url("fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"),
  url("fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}*/
@font-face {
  font-family: "PTSansNarrowRegular";
  src: url("fonts/PTSansNarrowRegular/PTSansNarrow.eot");
  src: url("fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
  url("fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"),
  url("fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*@font-face {
  font-family: 'Roboto Medium';
  src: url('/dist/css/fonts/Roboto/robotomedium.woff2') format('woff2'), url('/dist/css/fonts/Roboto/robotomedium.woff') format('woff'), url('/dist/css/fonts/Roboto/robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'Roboto';
  src: url('/dist/css/fonts/Roboto/roboto.woff2') format('woff2'), url('/dist/css/fonts/Roboto/roboto.woff') format('woff'), url('/dist/css/fonts/Roboto/roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/
