/***********************************************
Components
***********************************************/

#container-menu-desktop {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include breakpoint($medium) {
    display: none;
  }
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
  perspective: 1000px;
}

.mp-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: $color-hover-menu-active;
  background: $bg-header-menu;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
  // background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-pusher,
.mp-level {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  // box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  //z-index: 20;
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-top: 13px;
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  margin-top: 13px;
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  margin-top: 13px;
}

/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mp-menu ul li > a {
  display: block;
  padding: 20px 25px 18px;
  outline: none;
  // box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1;
  color: $color-white-menu;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  font-family: 'PFDinTextCompProRegular', sans-serif;
}

.mp-menu .mobile-ul li > a {
  padding: 19px 20px 18px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3;
}

.mp-menu .mobile-ul-dop li > a {
  padding: 19px 20px 17px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.3;
}

//m-item-a
.mp-menu .mobile-ul li a.not-line-height {
  height: auto;
  padding-top: 15px;
  padding-bottom: 14px;
  line-height: 1.1;
}

.mp-menu .mobile-ul i.down-furher {
  position: relative;
  top: -2px;
  float: right;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;

}

.mp-menu ul li a.level-1-link {
  letter-spacing: 1px;
  font-family: 'PFDinTextCompProRegular', sans-serif;
}

.mp-menu a.level-1-link i {
  position: relative;
  top: -4px;
  float: right;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.mp-menu ul li:hover > a i {
  @include translate(5px, 0);
}

.mp-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
  line-height: 3.5;
}

/*.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px $color-mobile-line, inset 0 1px $color-mobile-line;
}*/
.mp-level > ul > li > a {
  box-shadow: inset 0 -1px $color-mobile-line;
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: $color-hover-menu-active;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
}

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
  position: relative;
  display: block;
  padding: 2px 15px 0 22px;
  height: 55px;
  line-height: 55px;
  outline: none;
  background: $bg-header-menu-mobile;
  //background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  color: $color-white-menu;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font-family: 'PFDinTextCompProRegular', sans-serif;
}

.mp-back i {
  position: absolute;
  top: 18px;
  right: 15px;
  color: $color-white-menu;
  font-size: 20px;
  font-family: 'reproduction';
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.2s;
  -moz-transition: -moz-transform 0.3s ease-in-out 0.2s;
  -o-transition: -o-transform 0.3s ease-in-out 0.2s;
  -ms-transition: -ms-transform 0.3s ease-in-out 0.2s;
  transition: transform 0.3s ease-in-out 0.2s;
}

.mp-back:hover i {
  @include translate(-5px, 0);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 250px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}

/***********************************************
Main
***********************************************/

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/***********************************************
Open Menu
***********************************************/
$menu-main-height: 80px;
$menu-main-width: 300px;
$menu-main-width-small: 65px;
$menu-main-width-small-top: 210px;
$bar-width: 35px;
$bar-height: 3px;
$bar-color: #5A6893;
$bar-color-other: #fff;
$animation-speed: .3s;
#wr-open-menu-top {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px;
  height: 45px;
  padding: 6px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 1px;
  @include breakpoint($medium) {
    display: none;
  }
}
#wr-open-menu-top.open{
  background: $bg-header-menu;
  border: 1px solid darken($bg-header-menu,1%);
}
.open-menu-top {
  position: relative;
  float: right;
  width: $bar-width;
  height: $bar-width;
}

.nav-icon {
  width: $bar-width;
  height: $bar-height*6;
  cursor: pointer;
  display: inline-block;
  // @include translate(0, 30%);

  &.open {
    .burger {
      background: none;
    }
    .burger:before, .burger:after {
      top: 0;
    }
    .burger:before {
      @include rotate(-45deg);
    }
    .burger:after {
      @include rotate(45deg);
    }
  }

  &:hover:not(.open) {
    .burger:before {
      top: -($bar-height * 3);
    }
    .burger:after {
      top: $bar-height * 3;
    }
  }
}

.burger, .burger:before, .burger:after {
  width: $bar-width;
  height: $bar-height;
  background: $bar-color;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.burger.active, .burger.active:before, .burger.active:after {
  background: $bar-color-other;
  //@include single-transition(all, $animation-speed);
}

.burger {
  position: relative;
  margin: $bar-height * 3.5 auto 0;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
  }

  &:before {
    top: -($bar-height * 3.5);
  }
  &:after {
    top: $bar-height * 3.5;
  }
}