https://admin.reproduction.info/

color: color(var(--color-tlt-top) shade(5%));
/*$lighten(red, 20%)
!*  is equivalent to *!
color(red tint(20%))

$darken(red, 20%)
!*  is equivalent to *!
color(red shade(20%))*/

/*.z-depth-1 {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12)
}

.z-depth-1-half{
  -webkit-box-shadow: 3px 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 3px 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}*/
<br>

<a rel="nofollow" href="https://mense.ru/test" target="_blank">ТЕСТ</a>


<p><a  href="/gde_kupit"><img class="advertising-img" src="/img/img-article-23.02.19/Mense_kupit.min.png" alt="Менсе"></a>
</p>

<p><a href="/gde_kupit"><img class="advertising-img advertising-img-center" src="/img/img-article-23.02.19/Mense_kupit.min.png" alt="Менсе"></a>
</p>





<div class="" style="">
                            <a class="btn btn-slider" rel="nofollow" href="https://mense.ru/test/" target="_blank">Пройти тест
                                <span class="wr-arrow-i">
                                <i class="reproduction-further-btn arrow-btn-1"></i>
                               <i class="reproduction-further-btn arrow-btn-2"></i>
                           </span>
                            </a>
                        </div>


<p><a href="/nashi_produkty/speroton"><img class="advertising-img" src="/img/img-article-speroton/2.min.png" alt="Сперотон"></a>
</p>

<p><a href="/nashi_produkty/speroton"><img class="advertising-img advertising-img-center" src="/img/img-article-speroton/1.min.png" alt="Прегнотон"></a>
</p>


<div class="" style="display: inline-block">
                            <a rel="nofollow" class="btn btn-slider " href="https://mense.ru/test/" target="_blank">Пройти тест
                                <span class="wr-arrow-i">
                                <i class="reproduction-further-btn arrow-btn-1"></i>
                               <i class="reproduction-further-btn arrow-btn-2"></i>
                           </span>
                            </a>
                        </div>



<ul class="article-img-list" style="text-align: center">
	<li>
	<figure class="figure-article" data-name-drugs="Прегнотон">
	<img class="full-img" src="/img/drugs/drugs-bg/pregnoton-bg.png" alt="Прегнотон">
	<figcaption>
	<a href="/nashi_produkty/pregnoton">
	<span class="drugs-name-transition">
	Прегнотон
	</span>
	</a>
	</figcaption>
	</figure>
	<h4 class="BebasNeueBold">Прегнотон</h4>
	Для  подготовки к беременности
	</li>
	<li>
	<figure class="figure-article" data-name-drugs="Синергин">
	<img class="full-img" src="/img/drugs/drugs-bg/sinergin-bg.png" alt="Синергин">
	<figcaption>
	<a href="/nashi_produkty/sinergin">
	<span class="drugs-name-transition">
	Синергин
	</span>
	</a>
	</figcaption>
	</figure>
	<h4 class="BebasNeueBold">Синергин</h4>
	Антиоксидантный комплекс
	</li>
</ul>







<ul class="article-img-list">
	<li>
	<figure class="figure-article" data-name-drugs="Прегнотон">
	<img class="full-img" src="/img/drugs/drugs-bg/speroton-bg.png" alt="Сперотон">
	<figcaption>
	<a href="/nashi_produkty/speroton">
	<span class="drugs-name-transition">
	Сперотон
	</span>
	</a>
	</figcaption>
	</figure>
	<h4 class="BebasNeueBold">Сперотон</h4>
	Для повышения мужской фертильности
	</li>
	<li>
	<figure class="figure-article" data-name-drugs="Прегнотон">
	<img class="full-img" src="/img/drugs/drugs-bg/pregnoton-bg.png" alt="Прегнотон">
	<figcaption>
	<a href="/nashi_produkty/pregnoton">
	<span class="drugs-name-transition">
	Прегнотон
	</span>
	</a>
	</figcaption>
	</figure>
	<h4 class="BebasNeueBold">Прегнотон</h4>
	Для  подготовки к беременности
	</li>
	<li>
	<figure class="figure-article" data-name-drugs="Синергин">
	<img class="full-img" src="/img/drugs/drugs-bg/sinergin-bg.png" alt="Синергин">
	<figcaption>
	<a href="/nashi_produkty/sinergin">
	<span class="drugs-name-transition">
	Синергин
	</span>
	</a>
	</figcaption>
	</figure>
	<h4 class="BebasNeueBold">Синергин</h4>
	Антиоксидантный комплекс
	</li>
</ul>