@font-face {
  font-family: 'reproduction';
  src: url('/icon/reproduction.eot?luwmsb');
  src: url('/icon/reproduction.eot?luwmsb#iefix') format('embedded-opentype'),
  url('/icon/reproduction.ttf?luwmsb') format('truetype'),
  url('/icon/reproduction.woff?luwmsb') format('woff'),
  url('/icon/reproduction.svg?luwmsb#reproduction') format('svg');
  font-weight: normal;
  font-style: normal;

}

[class^="reproduction-"], [class*=" reproduction-"] {
  font-family: 'reproduction';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
 // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.reproduction-quotes-2:before {
  content: "\e936";
}
.reproduction-user-1:before {
  content: "\e937";
}
.reproduction-user-2:before {
  content: "\e938";
}
.reproduction-info-section:before {
  content: "\e934";
}
.reproduction-quotes:before {
  content: "\e933";
}
.reproduction-tags-2:before {
  content: "\e932";
}
.reproduction-tags:before {
  content: "\e930";
}
.reproduction-chat-2:before {
  content: "\e906";
}
.reproduction-book:before {
  content: "\e92f";
}
.reproduction-arrow-r:before {
  content: "\e92e";
}
.reproduction-plus-bg:before {
  content: "\e92d";
}
.reproduction-touch2:before {
  content: "\e92c";
}
.reproduction-tach_help:before {
  content: "\e92b";
}
.reproduction-addres:before {
  content: "\e924";
}
.reproduction-chat:before {
  content: "\e925";
}
.reproduction-copy:before {
  content: "\e926";
}
.reproduction-email-2:before {
  content: "\e927";
}
.reproduction-email:before {
  content: "\e928";
}
.reproduction-map:before {
  content: "\e929";
}
.reproduction-reviews:before {
  content: "\e92a";
}
.reproduction-logo_acvion:before {
  content: "\e923";
}
.reproduction-info-read:before {
  content: "\e910";
}
.reproduction-further-btn:before {
  content: "\e90f";
}
.reproduction-phone-help:before {
  content: "\e90e";
}
.reproduction-down-furher:before {
  content: "\e90d";
}
.reproduction-further:before {
  content: "\e90c";
}
.reproduction-back:before {
  content: "\e904";
}
.reproduction-down-lite:before {
  content: "\e90b";
}
.reproduction-buy:before {
  content: "\e90a";
}
.reproduction-arrow-left:before {
  content: "\e901";
}
.reproduction-arrow-right:before {
  content: "\e902";
}
.reproduction-close:before {
  content: "\e903";
}
.reproduction-search:before {
  content: "\e908";
}
















