/*@font-face {
  font-family: 'BebasNeueBold';
  src: url('fonts/bold/BebasNeueBold.eot');
  src: url('fonts/bold/BebasNeueBold.eot') format('embedded-opentype'),
  url('fonts/bold/BebasNeueBold.woff2') format('woff2'),
  url('fonts/bold/BebasNeueBold.woff') format('woff'),
  url('fonts/bold/BebasNeueBold.ttf') format('truetype'),
  //url('fonts/bold/BebasNeueBold.svg#BebasNeueBold') format('svg');
}*/


/*@font-face {
  font-family: 'PFDinTextCompProRegular';
  src: url('fonts/CompPro-Regular/PFDinTextCompProRegular.eot');
  src: url('fonts/CompPro-Regular/PFDinTextCompProRegular.eot') format('embedded-opentype'),
  url('fonts/CompPro-Regular/PFDinTextCompProRegular.woff2') format('woff2'),
  url('fonts/CompPro-Regular/PFDinTextCompProRegular.woff') format('woff'),
  url('fonts/CompPro-Regular/PFDinTextCompProRegular.ttf') format('truetype'),
 // url('fonts/CompPro-Regular/PFDinTextCompProRegular.svg#PFDinTextCompProRegular') format('svg');
}*/


@font-face {
  font-family: "PTSansNarrowRegular";
  src: url("fonts/PTSansNarrowRegular/PTSansNarrow.eot");
  src: url("fonts/PTSansNarrowRegular/PTSansNarrow.eot?#iefix")format("embedded-opentype"),
  url("fonts/PTSansNarrowRegular/PTSansNarrow.woff") format("woff"),
  url("fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}