/***********************************************
Vertical center
***********************************************/
.vertical-center {
  @include vertical-center();
}

/***********************************************
Other
***********************************************/
.position-relative{
  position: relative;
}
.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
}
figcaption a{
  text-decoration: none!important;
}
a, button{
  -ms-touch-action: manipulation;
}
a:checked,a:focus,a:active{
  -moz-outline: none;
  -webkit-outline: none;
  outline: none;
}
input:focus{
  outline: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
/*a, a:hover, input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}*/
.full-img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 3;
}

.inline-block {
  display: inline-block;
}

.text-transform {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-justify {
  text-align: justify;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

br {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
}

/***********************************************
Positions
***********************************************/
.overflow {
  overflow: hidden;
}


/***********************************************
Fonts
***********************************************/
/*.IntroHeadRBase {
  font-family: 'IntroHeadRBase';
}*/

/*.BebasNeueBold {
  font-family: 'BebasNeueBold';
}*/

/*.OpenSansCondensed {
  font-family: 'OpenSansCondensedLight', sans-serif;
}*/

/*.CompPro-Regulap {
  font-family: 'PFDinTextCompProRegular', sans-serif;
}*/

/*.pt-sans-narrow {
  font-family: 'PTSansNarrowRegular', sans-serif;
}*/
/*.futura{
  font-family: 'FuturaStdMedium', sans-serif;
}*/
.Corbel{
  font-family: 'Corbel', sans-serif;
}
/*.BebasNeue-Light{
  font-family: 'BebasNeue-Light', sans-serif;
}*/

.HouschkaPro-Medium{
  font-family: 'HouschkaPro-Medium', sans-serif;
}
.HouschkaPro-ExtraBold{
  font-family: "HouschkaPro-ExtraBold", sans-serif;
}
/*.OpenSans-CondLight{
  font-family: "OpenSans-CondLight", sans-serif;
}*/
/***********************************************
Show
***********************************************/

/***********************************************
Color
***********************************************/
.color-white {
  color: #fff;
}
.color-white-lt{
  color: #f0f0f0;
  opacity: .8;
}

/***********************************************
BG
***********************************************/

/***********************************************
Transition
***********************************************/
.translate3d {
  // @include translate3d(0,0,0);
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  -moz-transform: translate3d(0, 0, 0) rotate(0deg);
  -ms-transform: translate3d(0, 0, 0) rotate(0deg);
  -o-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  @include translate(0, 0);
}
.reset-tr{
  // @include translate3d(0,0,0);
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  -moz-transform: translate3d(0, 0, 0) rotate(0deg);
  -ms-transform: translate3d(0, 0, 0) rotate(0deg);
  -o-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.transition-all {
  @include transition(all 0.3s);
}

.transition-all-ease {
  @include transition(all 0.7s);
}

.transition-all-up {
  @include transition(all 0.6s);
}

.transition-height {
  @include transition(height 0.3s ease-in-out);
}

.transition-max-height {
  @include transition(max-height 0.4s ease-in-out);
}

.transition-bg {
  @include transition(background 0.3s);
}

.transition-opacity {
  @include transition(opacity 0.3s);
}

.transition-color {
  @include transition(color 0.3s);
}

.transition-transform {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.transition-width {
  @include transition(width 0.3s ease-in-out);
}

.stop-element {
  @include translate(0, 0);
  @include translate3d(0, 0, 0);
}

.transition-box-shadow {
  @include transition(box-shadow 0.2s ease-in-out);
}

/***********************************************
Z Lewels
***********************************************/
.z-depth-1 {
  @include box-shadow-2(0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12));
}

.z-depth-1-half {
  @include box-shadow-2(3px 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}

/***********************************************
Other
***********************************************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/***********************************************
Animation
***********************************************/

@include keyframes(widthIn) {
  0% {
    width: 0;
  }
  100% {
    @include translate(0, 0);
    width: 100%;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    @include translate(0, 0);
    opacity: 1;
  }
}

//Help Touchpad
@include keyframes(touchHelp) {
  0% {
    opacity: 0;
    @include translate(0, 0);
  }
  5% {
    opacity: 1;
  }
  20% {
    @include translate(-13px, 0);
  }
  40% {
    @include translate(0, 0);
  }
  60% {
    @include translate(13px, 0);
  }
  80% {
    @include translate(0, 0);
    opacity: 1;
  }
  100% {
    @include translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(98, 106, 130, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

//Touch2
@include keyframes(flipOutX) {
  0% {
    @include rotateX(0deg);
    opacity: 0;
    font-size: 0;
  }
  5% {
    @include rotateX(30deg);
    opacity: 1;
    font-size: 35px;
  }
  20% {
    @include rotateX(0deg);
  }
  40% {
    @include rotateX(30deg);
  }
  60% {
    @include rotateX(0deg);
  }
  80% {
    @include rotateX(30deg);
  }
  90% {
    @include rotateX(0deg);
    opacity: 1;
    font-size: 35px;
  }
  100% {
    @include rotateX(0deg);
    opacity: 0;
    font-size: 0;
  }
}
/*
@include keyframes(heightMore) {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}*/
